/* styles.css */

body {
    font-family: "Menlo", "Meslo LG", monospace;
}

/* CSS for the container */
.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px;
}
.button-container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    padding: 10px;
}

.text-container {
    padding: 40px 400px 40px;
    text-align:center;
}

/* CSS for the code editor and output text areas */
.textareas {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.code-editor, .output {
    width: 600px;
    height: 200px;
    border: 5px solid #5c5c5c;
    padding: 10px;
    font-family: "Menlo", "Meslo LG", monospace;
    font-size: 16px;
    white-space: pre-wrap;
    margin: 20px;
}

.output {
    border: 5px solid green;
}

/* CSS for the block container */
.block-row {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
}

/* CSS for the individual blocks */
.block {
    width: 80px;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid black;
    font-size: 30px;
    font-weight: bold;
    margin: 5px;
    background-color: #fff;
    color: #000;
    transition: all 0.2s ease;
}

.block.current {
    background-color: #FFC107;
    border: 3px solid black;
}

/* Button style */
.red-button, .green-button {
    border: 3px solid black;
    background-color: #2e7be0;
    color: #000000;
    border-radius: 5px;
    padding: 15px 15px 15px 15px;
    cursor: pointer;
    font-size: 28px;
    font-weight: bold;
}

/* Button hover effect */
.red-button:hover {
    transition: all 0.3s ease;
    background-color: red;
}

.green-button:hover {
    transition: all 0.3s ease;
    background-color: #0d8c0d;
}

pre code {
  background-color: #eee;
  border: 1px solid #999;
  display: block;
}

code {
    background-color: #eee;
}
